@charset "UTF-8";

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 992px) { 
    body {
        background-image: linear-gradient(to bottom, #003049, #548687);
        font-size: 1.2em;
    }

    main > div {
        height: 450px;
        width: 620px;
    }

    main > div > h1 {
        padding: 38px 0px 7px 0px;
    }

    main > div p#final {
        text-align: center;
    }
}

/*DESKTOP E GRANDES TELAS*/
@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #003049, #548687);
        font-size: 1.2em;
    }

    main > div {
        height: 500px;
        width: 700px;
        border-radius: 13px;
    }

    main > div > h1 {
        padding: 47px 0px 7px 0px;
        font-size: 2em;
    }

    main > div > h2 {
        font-size: 1.3em;
    }

    main > div > a:hover {
        border: 2px solid #FE5F55;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.600);
        transform: translate(-1px, -1px);
        transition: transform 0.15s;
    }

    main > div > p {
        font-size: 1.046em;
        padding-left: 30px;
        padding-right: 30px;
    }

    main > div > button:hover {
        border: 2px solid #FE5F55;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.600);
        transform: translate(-1px, -1px);
        transition: transform 0.15s;
    }
}